@import 'styles/variables';

.product {
    width: 15vw;
    &__image_container {
        width: 100%;
        text-align: center;

        &__image {
            width: 90%;

        }
    }

    &__info {
        text-align: center;
        &__name {

        }

        &__price {
            color: $light_green;
            font-size: 1.5rem;
        }
    }
}