@import 'styles/variables';

.input {
    background-color: $light;
    border: 0;
    padding: .6rem;
    border-radius: .5rem;
    width: 25vw;
    margin: 0 1.5vw;
    font-size: 1rem;
    outline: 2px solid $dark;
}