@import 'styles/variables';

.navbar {
    height: $navbar_height;
    min-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 20;
    background: $dark_green;
    background: linear-gradient(90deg, $light_green 0%, $dark_green 40%, $dark_green 60%, $light_green 100%);

    &__title {
        font-family: 'Dela Gothic One', cursive;
        color: $light;
    }
}